# macOS
.DS_Store

# Emacs
*~
\#*\#
.\#*

# ac-php @ emacs
.ac-php-conf.json

# Visual Studio Code
.vscode/

# IntelliJ
.idea
/out/
.idea_modules/

# Composer libs
vendor

# Vagrant dir
.vagrant

# Tests reports
tests/_reports

# Config
resources/config/config.yml

# Logs
web/logs/app.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
